<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="wsg">
  <!-- WSG-50 Gripper Definition -->

  <!-- Gripper main body -->
  <link name="gripper_body">
    <inertial>
      <mass value="1.2" />
      <origin xyz="0 0 0" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0.0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://wsg_50_simulation/meshes/WSG50_110_w_adaptor.stl" scale="1 1 1"/>
      </geometry>
      <material name="grey">
        <color rgba="0.5 0.5 0.5 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://wsg_50_simulation/meshes/WSG50_110_w_adaptor.stl" scale="1 1 1"/>
      </geometry>
    </collision>
  </link>
<!-- 
  <joint name="base_to_gripper_body" type="fixed">
    <origin xyz="0 0 0.01" rpy="0 0 0" />
    <parent link="gripper_base"/>
    <child link="gripper_body" />
  </joint> -->

  <!-- Left gripper finger -->
  <joint name="base_joint_gripper_left" type="prismatic">
    <limit lower="-0.055" upper="-0.0027" effort="1.0" velocity="1.0"/>
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="gripper_body"/>
    <child link="gripper_left" />
    <dynamics friction="100" damping="100" />
    <axis xyz="1 0 0"/>
    <limit effort="100" velocity="100"/>
    <mimic joint="base_joint_gripper_right" multiplier="-1" offset="0"/>
  </joint>

  <link name="gripper_left">
    <inertial>
      <mass value="0.1" />
      <origin xyz="0 0 0" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0.0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://wsg_50_simulation/meshes/GUIDE_WSG50_110.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://wsg_50_simulation/meshes/GUIDE_WSG50_110.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <!-- Left finger tip -->
  <joint name="guide_joint_finger_left" type="fixed">
    <origin xyz="0 0 0.023" rpy="0 0 0" />
    <parent link="gripper_left"/>
    <child link="finger_left" />
  </joint>

  <link name="finger_left">
    <inertial>
      <mass value="0.1" />
      <origin xyz="0 0 0" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0.0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://wsg_50_simulation/meshes/WSG-FMF.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://wsg_50_simulation/meshes/WSG-FMF.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <!-- Right gripper finger -->
  <joint name="base_joint_gripper_right" type="prismatic">
    <limit lower="0.0027" upper="0.055" effort="1.0" velocity="1.0"/>
    <origin xyz="0 0 0" rpy="0 0 3.14159" />
    <parent link="gripper_body"/>
    <child link="gripper_right" />
    <axis xyz="-1 0 0"/>
    <dynamics friction="100" damping="100" />
    <limit effort="100" velocity="100"/>
    
  </joint>

  <link name="gripper_right">
    <inertial>
      <mass value="0.1" />
      <origin xyz="0 0 0" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0.0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://wsg_50_simulation/meshes/GUIDE_WSG50_110.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://wsg_50_simulation/meshes/GUIDE_WSG50_110.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <!-- Right finger tip -->
  <joint name="guide_joint_finger_right" type="fixed">
    <origin xyz="0 0 0.023" rpy="0 0 0" />
    <parent link="gripper_right"/>
    <child link="finger_right" />
  </joint>

  <link name="finger_right">
    <inertial>
      <mass value="0.1" />
      <origin xyz="0 0 0" />
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
    </inertial>
    <visual>
      <origin xyz="0.0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://wsg_50_simulation/meshes/WSG-FMF.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="black">
        <color rgba="0 0 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://wsg_50_simulation/meshes/WSG-FMF.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

</robot>